{$NTFY_DOMAIN} {
  tls {$CLOUDFLARE_EMAIL} {
    dns cloudflare {env.CLOUDFLARE_API_TOKEN}
  }

  reverse_proxy ntfy:8000
}

{$UPTIME_KUMA_DOMAIN} {
  tls {$CLOUDFLARE_EMAIL} {
    dns cloudflare {env.CLOUDFLARE_API_TOKEN}
  }

  reverse_proxy kuma:3001
}
