ntfy.example.com {
  tls your@email.com {
    dns cloudflare {env.CLOUDFLARE_API_TOKEN}
  }

  reverse_proxy ntfy:8000
}

uptime.example.com {
  tls your@email.com {
    dns cloudflare {env.CLOUDFLARE_API_TOKEN}
  }

  reverse_proxy kuma:3001
}
